<div class="offer__container">
  <div class="row">
    <div class="gr-3">
      <div class="offer__avatar" style="background-image: url('{{ offer.avatar }}')"></div>
    </div>
    <div class="gr-9">
      <div class="offer__name" {{action "offerShow" offer}}>{{ offer.firstname }} {{ offer.lastname }}</div>
      <div class="offer__age" {{action "offerShow" offer}}>{{ offer.age }} ans</div>
      {{#if offer.isShowing}}
        <div class="offer__description" {{action "offerShow" offer}}>{{offer.description}}</div>
      {{else}}
        <div class="offer__description" {{action "offerShow" offer}}>{{word-limit offer.description 50}}</div>
      {{/if}}

      {{#if offer.isShowing}}
        <div class="+spacer"></div>
        <a class="offer__button" {{action "toggleContact"}}><i class="fa fa-envelope"></i> Contacter par email</a>
        <a class="offer__button"><i class="fa fa-phone"></i> Voir le numéro de téléphone</a>
      {{/if}}


      {{#if isShowingContact}}
        {{#modal-dialog targetAttachment="center" 
                        translucentOverlay=true 
                        close="toggleContact"
                        container-class="modal__container"
                        overlay-class="modal__overlay"
                        wrapper-class="modal__wrapper"
        }}
          <div class="offer__modal">
            <div class="offer__type"><i class="fa fa-envelope"></i> Prise de contact</div>
            <div class="offer__avatar --modal" style="background-image: url('{{ offer.avatar }}')"></div>
            <div class="offer__name --modal">{{ offer.firstname }} {{ offer.lastname}}</div>
            <div class="offer__age --modal">{{ offer.age }} ans</div>
            <div class="container">
              <div class="row">
                <div class="gr-6">
                  <div class="offer__form">
                    <input type="text" name="email" placeholder="Email" />
                    <span>Utilisé pour vous recontacter</span>
                  </div>
                </div>
                <div class="gr-6">
                  <div class="offer__form">
                    <input type="text" name="phone" placeholder="Téléphone" />
                    <span>Utilisé pour vous recontacter</span>
                  </div>
                </div>
              </div>
              <div class="clear"></div>
              <div class="offer__form">
                <textarea name="message" placeholder="Votre message"></textarea>
              </div>
              <div class="+spacer"></div>
              <button class="offer__button --expand" type="submit">Envoyer mon message</button>
            </div>
          </div>
        {{/modal-dialog}}
      {{/if}}
    </div>
  </div>
</div>